.headerWrapper {
    display: block;
    padding: 2rem 0 2rem 0;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 70%, rgba(0,0,0,0));
}

.homeLink {
    margin-right: 4rem;
}