.panel{
    display: block;
    min-height: 10rem;
    background-color: rgb(0, 46, 83);
    padding: 2rem;  

    .link{
        padding-right: 1rem;
        color: whitesmoke;
    }
    .active{
        font-weight: bold;
    }
}